@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dark-mode-autofill {
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus ,
    &:-webkit-autofill:active{
        -webkit-text-fill-color: white;
        -webkit-box-shadow: 0 0 0px 1000px rgb(30 41 59 / var(--tw-bg-opacity)) inset;
        color: white;
        
    }
  }
}

